{% extends "base.html" %}

{% block content %}
<h1>Help & FAQs</h1>
<div class="accordion" id="helpAccordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                How to use the application?
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                Detailed instructions for using the application.
            </div>
        </div>
    </div>
</div>
{% endblock %}
