<div id="peripheral-controls">
    <button id="add-peripheral" class="btn btn-primary">Add Peripheral</button>
    <div id="peripheral-container" class="mt-3"></div>
</div>

<template id="peripheral-template">
    <div class="peripheral-node">
        <h5>Peripheral: <span class="peripheral-name"></span></h5>
        <div class="properties">
            <ul class="property-list"></ul>
            <button class="btn btn-secondary add-property">+ Add Property</button>
        </div>
    </div>
</template>
