
/* Notifications */
.notification-card {
    background-color: #fff3cd;
    color: #856404;
    padding: 1rem;
    border: 1px solid #ffeeba;
    border-radius: 8px;
    margin-bottom: 1rem;
}

    .notification-card .title {
        font-weight: bold;
    }

    .notification-card .timestamp {
        font-size: 0.8rem;
        color: #6c757d;
    }

